<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.minori.pgpclipper" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.PGPClipperSettingsActivity"
            android:icon="@mipmap/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PGPClipperService"
            android:icon="@mipmap/icon" />

        <receiver android:name=".BootListener"
            android:icon="@mipmap/icon" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.PGPClipperResultShowActivity"
            android:theme="@style/PseudoDialogDarkTheme"
            android:icon="@mipmap/icon"
            android:excludeFromRecents="true" />

        <activity android:name=".activities.PGPClipperQuickReplyActivity"
            android:theme="@style/PseudoDialogDarkTheme"
            android:icon="@mipmap/icon"
            android:excludeFromRecents="true" />

        <activity android:name=".activities.NFCAuthenticationSetupActivity"
            android:theme="@style/AppTheme"
            android:icon="@mipmap/icon"/>

    </application>

</manifest>
